
#poiukjy
{
	padding: 1% 0% 0% 0%;
}
#poiughytyj
{
	padding: 4% 0% 0% 38%;
}
#menu-outer {
	height: 82px;
}
.table {
	display: table;   /* Allow the centering to work */
	margin: 0 auto;
}

ul#horizontal-list {
	min-width: 700px;
	list-style: none;
	padding: 3% 0% 0% 10%;
	/*padding-top: 3%;
	padding-right: 10%;*/
	}
	ul#horizontal-list li {
		display: inline;
	}
	li a
{
	padding: 14px;
	text-decoration: none;
}
li a:hover
{
	background-color: #BDB76B;}
@media screen and (max-width: 44em) {
nav[role="row"] {
ul > li {
width: 100%;
}
}
}
#l
{
	padding-top: 2%;
	padding-left: 0%;
}
#h
{
	padding: 2% 0% 0% 8%;
}
#b
{
	padding: 0% 0% 0% 10%;
	height: 60px;
	width:170px;
	border-radius: 6px;
	background:#bfe240;
}
#a
{
	padding: 15% 0% 0% 20%;
}
#x
{
	padding: 10% 0% 0% 35%;
}
#y
{
	margin-top: 1%;
	padding-left: 43%;
}
#z
{
	margin-top: 1%;
	padding-left: 40%;
}
#b
{
	padding: 3% 3% 3% 3%;
}
#c
{
	padding: 1% 0% 0% 48%;
}
.responsive {
  width: 100%;
  height: auto;
}
#jh{
	padding-top: 80px;
	/*padding-top: 5%;
	padding-left: 0%;*/
}
#jhh
{
	border-style: solid;
	border-color: #cecece;
	border-width: 6px;
}
#fw
{
	color: white;

}

#gw
{
	color: white; 
	margin-top: 90px;
}
.button {
  background-color: white; /* Green */
  border: 5px solid  yellowgreen;
  padding: 7px;
  opacity: 0.5;
  /*color: black;*/
  padding: 30px;
  text-align: center;
  text-decoration: none;
  /*display: inline-block;*/
  font-size: 10px;
  margin: 6% 0% 0% 0%;
  cursor: pointer;
  color:green;

}


.button5 {border-radius: 100%;}
#mmnnb
{
	text-align: center; 
	color: white; 
	font-size:30px; 
	width: 1200px;
}
#bu
{
	padding: 1% 1% 1% 1%;
	width: 351px;
	height: 46px;
	border: 2px solid #c9ee41;
	opacity: 0.8;
}
#ew
{
	padding-top: 2%;
	/*padding: 3% 0% 0% 48%;*/
}

/* Sixth*/
#mnm
{
	padding: 2% 0% 0% 30%;
}
#fgfg{ padding: 1% 0% 0% 12%; }
#fd{
	padding: 2% 0% 0% 10%;
}
#oq{
	padding: 0% 0% 0% 8%;
}
#tr
{
	padding: 0% 0% 0% 15%;
}
#trr
{
	padding: 0% 0% 0% 12%;
}

/* Seventh*/
#lkj
{
padding: 2% 0% 0% 43%;
}
#hy
{
padding: 10% 0% 0% 18%;
}
.im {
  border-radius: 50%;}


#opi
{
padding: 4% 0% 0% 25%;
}
#rew
{
padding: 2% 0% 0% 2%;
}
#rev
{
padding: 0% 0% 0% 25%;
}
#req
{
padding: 0% 0% 0% 32%;
}
#rea
{
padding: 1% 0% 0% 43%;
}

    /*<!--eight Page-->*/
#lok
{
	padding: 1% 0% 0% 34%;
}
#rtyu
{
	padding: 1% 1% 1% 1%;
}
.btn {
  border: 2px solid #4CAF50;
  background-color: white;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
}

/* Green */
.success {
  border-color: 1px solid #4CAF50;
  color: green;
}

.success:hover {
	 color: white;
  background-color: #a8ce3a;

}
#zoe{
	display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
#bm
{
	width: 230px;
    height: 40px;
    background-color: #bfe240;
    border-radius: 6px;
    opacity: 0.9;
}
ul {
  list-style-type: none;
}
#jhjk
{
	margin-left: 98px;
	margin-top: 6px;
	margin-bottom: 6px;
}
#tenth{

	background-color: #333333; 
	background-size: cover; 
	padding-left: 130px;
}
#agtry
{
	 background-image: url(images/hbg2.png); 
	 background-size: cover;"
}
#mediachn
{
	background-image: url(images/test.jpg);
	background-size: cover;  
	display: flex; 
	align-items: center; 
	justify-content: center;
	flex-direction: column;
}
#justtry
{
	padding-left: 340px;
}
#juusttry
{
	padding-left: 361px;
}
#jjuussttry
{
	padding-left: 406px;
}
#abtnmeq
{
	border: 2px solid #b5ce4e; 
	color: black;
}
#foterch
{
	color: #dedede; 
	margin-top: 53px; 
	margin-left: 30px;
}
#fftterch
{
	font-size:25px; 
	color: #fdfdfd; 
	margin-top: 0px; 
	margin-left: 8px;
}
#idkwimdg
{
	margin-left: 11px; 
	margin-top: 6px;
}
#idkwimdgg
{
	margin-left: 0px; 
	margin-top: 6px;
}
#idkwimdggg
{
	margin-left: 0px; 
	margin-top: 6px;
}
#endinfm
{
	background-color:#141414; 
	width: 100%; 
	padding-left: 127px;
}
#ttrre
{
	color: #626262;
}
#lkjh
{
	padding: 0% 0% 0% 15%;
}
#poiuy
{
	color: #cdcdcd;
	padding: 0% 0% 0% 35%;
}
#poiuyj
{
	color: #cdcdcd;
	padding: 0% 0% 0% 5%;
}
@media only screen and (max-width: 600px) {

#tenth{

	background-color: #333333; 
	background-size: cover; 
	padding-left: 0px;
}
#agtry
{
	 background-image: url(images/hbg2.png); 
	 background-size: cover;"
}
#x
{
	font-size: 23px;
	padding: 10% 0% 0% 9%;
}
#y
{
	font-size: 23px;
	margin-top: 1%;
	padding-left: 20%;
}
#z
{
	font-size: 23px;
	margin-top: 1%;
	padding-left: 15%;
}
#c
{
	padding: 1% 0% 0% 26%;
}

#a
{
	padding-left: 42%;
	/*padding: 15% 0% 0% 0%;*/
}
#newch
{
	font-size: 23px;
}
#gw
{
	font-size: 29px;
	color: white; 
	margin-top: 90px;
}
#fw
{
	font-size: 17px;
	color: white;
	
}
#mmnnb
{
	text-align: center; 
	color: white; 
	font-size:30px; 
	width: 372px;
}
#bu
{
	padding: 1% 1% 1% 1%;
	width: 300px;
	height: 46px;
	border: 2px solid #c9ee41;
	opacity: 0.8;
}
#justtry
{
	font-size: 14px;
	padding-left: 26px;
	padding-right: 41px;
}
#juusttry
{
	font-size: 14px;
	padding-left: 26px;
	padding-right: 41px;
}
#jjuussttry
{
	font-size: 14px;
	padding-left: 27px;
	padding-right: 40px;
}
#belcrdmq
{
	padding-left: 52px;
}
#abtnmeq
{
	margin-bottom: 10px;
	margin-top: 4px;
	border: 2px solid #b5ce4e; 
	color: black;
}
#newchngess
{
	padding-right: 6px;
	margin-left: 13px;
}
#foterch
{
	color: #dedede; 
	margin-top: 10px; 
	margin-left: 22px;
	/*padding-right: 16px;*/
	font-size: 15px;
}
#fftterch
{
	font-size:15px; 
	color: #fdfdfd; 
	margin-top: 0px; 
	margin-left: 22px;
}
#idkwimdg
{
	margin-left: 22px; 
	/*margin-top: 6px;*/
}
#idkwimdgg
{
	margin-left: 22px; 
}
#idkwimdggg
{
	margin-left: 22px; 
}
#endinfm
{
	background-color:#141414; 
	width: 100%; 
	padding-left: 17px;
}
#lkjh
{
	padding-left: 5%;
	/*padding: 0% 0% 0% 15%;*/
}
#poiuy
{
	color: #cdcdcd;
	padding-left: 6%;
}
#poiuyj
{
	color: #cdcdcd;
	padding-left: 6%;
}
#jh{
	padding-top: 0px;
	/*padding-top: 5%;
	padding-left: 0%;*/
}
} 
#shiftimg
{
	padding-top: 20px;
}