#lll
{
	/*padding-top: 2%;
	padding-left: 0%;*/
	padding: 2% 10% 0% 0%;
}
/*#h
{
	padding: 2% 0% 0% 8%;
}*/
#bbb
{
	padding: 0% 0% 0% 22%;
}
#aaa
{
	padding: 2% 0% 0% 8%;
}
/*<!--tenth LP-->*/
#we
{
	float: left;
	margin-right: 1%;
	margin-top: 1%;
	padding:2% 2% 2% 2%;
	border-radius: 7px;
}

#ttrre
{
	color: #626262;
}

#uhu
{
	background-color: #a9ca25;
	border-radius: 3px;
	padding: 2% 2% 2% 2%;
	width: 218px;
	height: 46px;
}
#jhuy
{
	padding: 0% 0% 0% 28%;
}
#okk
{
	border: 2px solid white;
	background-color: #70716b;
}
#jhj
{
	/*margin-left: 110px;*/
	margin-left: 98px;
	margin-top: 6px;
	margin-bottom: 6px;
}
#zxz
{
	display: flex;
    margin-top: 28px;
    /* margin-left: -62px; */
    align-items: center;
    justify-content: center;
    margin-bottom: 28px;
}
#bnp
{
	border: 5px solid #a3ba50;
	background-color: #a3ba50;
	opacity: 0.8;
	padding: 3% 4% 3% 4%;
	
}
#ioo
{
	height: 30px;
	width: 40px;
}
#uu
{
	/*width: 280px;*/
	width: 265px;
	height: 140px;
}
#conf
{
	background-color: white;
}
.card {
        margin: 0 auto; /* Added */
        float: center; /* Added */
        margin-bottom: 40px; /* Added */
        width: 362px;
        margin: 25px;
}
.conf{
display:flex;
flex-wrap: wrap;
.div {
background-color: #f1f1f1;
width: 100px;
margin: 10px 10px 10px 10px;
text-align: center;
line-height: 75px;
font-size: 30px;
}
.flex-container{
/*display: flex;
/*height: 600px;*/
/*flex-wrap: wrap;
align-content: center;
justify-content:space-around;
background-color: DodgerBlue;*/
display: flex;
height: 600px;
flex-wrap: wrap;
align-content: center;
justify-content: space-around;
}
<style>
  /* Make the image fully responsive */
  .carousel-inner img {
      width: 100%;
      height: 100%;
  }
  #dntk
  {
  	padding: 1% 0% 0% 5%;
  }
  #hery
{
	margin: 1% 0% 0% 0%;
}
#car{
	display: flex;
	/*flex-wrap: wrap;*/
	align-content: center;
	justify-content: center;
}
