body{

	min-width: 250px;
}
#first
{
	padding-top: 24px;
	background-color: #f00;
	height: 190px;
}
#img
{
	height: 142px;
	width: 236px;
}
#txt
{
	margin: 5px;
	width: 575px;
	padding-left: 158px;
	font-size: 52px;
}
#myInput
{
	width: 600px;
	height: 42px;
}
#btn
{
	width: 126px;
	height: 32px;
	border-radius: 3px;
	color: white;
	background-color: #f00;
	border: solid 3px;
}
#nwe
{
	 padding-left: 231px; 
	 padding-top: 7px; 
}
#row1
{
	padding-left: 48px;
}
#col4
{
	padding-left: 100px;
}
@media only screen and (max-width: 600px) 
{
#img
{
	height: 100px;
	width: 120px;
}
#col4
{
	padding-top: 5px;
	/*padding-right: 20px;*/
	padding-left: 20px;
}
#txt
{
	margin: 5px;
	width: 575px;
	padding-left: 84px;
	font-size: 32px;
}
#row1
{
	display: flex;
	flex-wrap: nowrap;
	margin-right: 0px;
	margin-left: 0px;
	padding-left: 45px;
}
#myInput
{
	width: 267px;
	height: 42px;
}
#nwe
{
	padding-left: 114px;
	padding-top: 7px;
}
#rrow
{
	display: flex;
	flex-wrap: nowrap;
}
}



/*
#ulid
{
	display: flex;
flex-wrap: wrap;
justify-content: space-around;
}

#elementid{
	width: 212px;
height: 162px;
padding-top: 72px;
padding-left: 47px;
background-color: #e74c3c;
border: 4px solid #f00;
}*/































 // Completed Task

//       for(var i = 0; i < incompleteTasksHolder.children.length; i++) {
//       //bind events to list item's children (taskCompleted)
//       bindTaskEvents(incompleteTasksHolder.children[i], taskCompleted);
//       }

//       //cycle over completedTasksHolder ul list items
//       for(var i = 0; i < completedTasksHolder.children.length; i++) {
//       //bind events to list item's children (taskIncomplete)
//       bindTaskEvents(completedTasksHolder.children[i], taskIncomplete);
//       }
//       for(var i = 0; i < incompleteTasksHolder.children.length; i++) 
//       bindTaskEvents(incompleteTasksHolder.children[i], taskCompleted);
//       var bindTaskEvents = function(taskListItem, checkBoxEventHandler) {
//       console.log("Bind List Item events") // Message in console to let you know the function ran
//       //select the children and store them in variables next
//       var checkbox = taskListItem.querySelector('input[type=checkbox]');
//       var editButton = taskListItem.querySelector('button.edit');

//       var deleteButton = taskListItem.querySelector('button.delete');

//         // bind editTask global function to edit button
//         editButton.onclick = editTask;

//         // bind deleteTask global function to delete button
//         deleteButton.onclick = deleteTask;

//         // bind taskCompleted function to checkbox on change(when you click it)
//         checkbox.onchange = checkBoxEventHandler; 
//                 //So now, when you click the checkbox on this event it will trigger the taskCompleted function

//         }
//         var taskCompleted = function(){
//     console.log('task completed');
//     // Append the task list item to the #completed-tasks
//     var listItem = this.parentNode;
//     completedTasksHolder.appendChild(listItem);
//     bindTaskEvents(listItem, taskIncomplete);
// }


