#img
{
	height: 112px;
    width: 148px;
    padding-left: 57px;
    /* border: 1px solid; */
    padding-top: 39px;
}
#fdiv
{
	padding-left: 257px;
    padding-top: 0px;
}
#txt{font-size: 48px;}
#sdiv{padding-left: 46px;}
#new-task{height: 39px; width: 422px;}
#nwe{padding-left: 109px; padding-top: 4px;}
#btn
{
	width: 138px;
    height: 32px;
    border-radius: 3px;
    color: white;
    background-color: #f00;
    border: solid 3px;
}
#rrow
{
	display: flex;
    flex-wrap: nowrap;
    background-color: #ff0000;
    height: 228px;
    opacity: 0.7;
}




ul li {
  /*width: 212px;
height: 162px;
padding-top: 72px;
padding-left: 47px;
background-color: #e74c3c;
border: 4px solid #f00;*/
  cursor: pointer;
  padding: 10px 10px 10px 10px;
  list-style-type: none;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;
  background-color: #e74c3c;
  color: white;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-right: 38px;
  
   /*make the list items unselectable 
*/  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#text{font-size: 28px;
    display: flex;
    justify-content: center;
    text-align: center;}
#myUL
{

}
/* Set all odd list items to a different color (zebra-stripes) */
ul li:nth-child(odd) {
  background: #f9f9f9;
  color: black;
}
ul li:nth-child(even) {
  color: white;
}

/* Darker background-color on hover */
ul li:hover {
  background: #ff4d4d;
}
#rowcol
{
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
	padding-top: 44px;
	height: 450px;
	padding-bottom: 11px;
}
#ctask
{
	border: 2px solid black;
	background-color: #ef6149;
	opacity: 0.6;
}
#tdtask
{
	background-color: #ef6149;
	border: 2px solid black;
	opacity: 0.6;
}